body{
  margin:0;
  padding: 0;
  background-image: url("https://images.pexels.com/photos/301920/pexels-photo-301920.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100%;
}

.input{
 background: #80D8FF;
 padding: 10px;
}
.loginbox{
  color: white;
  background:#000000;
  width: 47vh;
  height: 45vh;
  transform: translate(-50%, -50%);
  top: 50%;
  left:50%;
  position: absolute;
  text-align: center;
}
.loginbox input{
  color: black;
  border:none;
  border: #03A9F4;
  border-radius: 20px;
  width: 250px;
  height: 25px;
}
#head{
  color:#E65100;
}
#test{
   margin-top: 20px;
   color:white;
   padding: 10px 10px;
   background: #3F51B5;
}
#test:hover{
  text-decoration: none;
  background: #E64A19;
  padding: 5px;
  cursor: pointer;
}
button{
  border: none;
  border-radius: 16px;
  padding: 10px 10px;
}
button:hover{
  background: #D81B60;
  outline: none;
}
body{
  background-color:rgb(250, 250, 250);
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
#instructions,.form-group,#grades,.jumbotron,.intro,.newintro{
  display: none;
}
#results{
  font-size: 20px;
  font-weight: bold;
}

/* .row{
  width: 100%;
  display: table;
}
.col-md-6{
  display: table-cell;
} */
